{% extends "layout.twig" %}

{% block login %}
    <div class="navbar-collapse collapse">
        <form class="navbar-form navbar-right" role="form"  style="margin-top: 6px;">
            <div class="form-group">
                <input type="text" placeholder="User Name" class="form-control" id="sign-username" onblur="checkUsername(this);">
            </div>
            <div class="form-group">
                <input type="password" placeholder="Password" class="form-control" id="sign-password" onblur="checkPassword(this);">
            </div>
            <button type="submit" class="btn">Sign in</button>
            <button type="button" class="btn" onclick="overlay();">Register</button>
            <button type="button" class="btn">?</button>
        </form>
    </div>
{% endblock %}

{% block register %}
    <div id="reg-container">
        <div id="reg-form" onclick="return false;">
            <h2 style="font-family: serif; font-style: italic;"><strong>R e g i s t r a t i o n</strong></h2>
            <h6>(Sweet as chocolate)</h6>
            <div id="reg-response">
                <table>
                    <tr>
                        <td class="form-control reg-title">
                            Username:
                        </td>
                        <td class="reg-input">
                            <input type="text" name="username" class="form-control" id="reg-username" onblur="checkUsername(this);">
                        </td>
                    </tr>
                    <tr>
                        <td class="form-control reg-title">
                            E-mail:
                        </td>
                        <td class="reg-input">
                            <input type="text" name="mail" class="form-control" id="reg-mail" onblur="checkMail(this);">
                        </td>
                    </tr>
                    <tr>
                        <td class="form-control reg-title">
                            Password:
                        </td>
                        <td class="reg-input">
                            <input type="password" name="password" class="form-control" id="reg-password" onblur="checkPassword(this);">
                        </td>
                    </tr>
                    <tr>
                        <td class="form-control reg-title">
                            Confirm Password:
                        </td>
                        <td class="reg-input">
                            <input type="password" name="checkPassword" class="form-control" id="reg-confPword" onkeyup="confirmPassword(this);">
                        </td>
                    </tr>
                    <tr>
                        <td></td>
                        <td id="reg-button-container">
                            <button class="btn" type="submit" name="reg-submit" onclick="signUp();">Register</button>
                            <button class="btn" type="button" name="cancel" onclick="overlay(); return false;">Cancel</button>
                        </td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
{% endblock %}

{% block content %}
    <div class="col-md-4 column">
        first column
    </div>
    <div class="col-md-4 column">
        second column
    </div>
    <div class="col-md-4 column">
        third column
    </div>
{% endblock %}

{% block customList %}
    {% for widget in widgets %}
        <li><a href="#">{{ widget.name }}</a></li>
    {% endfor %}
{% endblock %}
