{% extends "layout.twig" %}

{% block sidebar %}
    {% for category in categories %}
        <ul class="nav nav-sidebar">
            <li class="badge" onclick="sideBarMaximizeMinimize(this)">{{ category.name }} <span>&#x25BC</span></li>
            {% for widget in category.widget %}
                <li class="sidelist"><a href="#">{{ widget.name }}</a></li>
            {% endfor %}
        </ul>
    {% endfor %}
{% endblock %}